/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* header rules */
header {
    padding: 1em;
    font-size: 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color:#628ca6;
    color: #eee;
    margin-bottom: 2em;
    }

/*table styling */ 
thead tr th{
    font-size: 2em;
    font-weight: bold;
    padding: .25em;
    background-color: #7fb9c2;
    color: #000000;
}

table{
    position: absolute;
    left: 42%;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    text-align: center;
    border: solid 1px #dddddd;
    padding: 5px;
    margin-bottom: 50em;
    display: block;
    box-shadow: 8px 10px 15px #9a9a9a;
}

td{
    border: solid 1px #dddddd;
    padding: 10px;
}

th{
    font-size: 1em;
    font-weight: bold;
    padding: .25em;
    color: #eee;
    background-color: #628ca6;
    border: solid 1px #dddddd;
}


.highlight{
    background-color: #628ca6;
    color: #eee;
}

tr {
    background-color:  #e7f0ed;
    color: #000000;
}

tr:nth-child(odd){
    background-color:#e7ffed;
    color: #000000;;
 }
 tbody tr:nth-child(6) td:first-child{
    font-style: italic;
}
tfoot tr th{
    color: #000000;
    background-color: #7fb9c2;
    font-weight: normal;
}


/*footer Rules*/
footer{
    margin-top: 25em;
    text-align: center;
    padding: 15px;
    color: #eee;
    background-color: #628ca6;
}
