@media only screen and (min-width: 1028px){
  
    /*nav rules here */

    nav ul {padding-left: 2%;}
    nav li {width: auto;}
    nav a { padding:.5rem 1rem}

    /*main rules here*/
    header,footer, main{ 
        max-width: 75rem; margin: auto;
    }

    nav{ 
        max-width: 78.5rem; margin: auto;
    }
   
    
    main figure {
        width: 31%;
    }

    div.news{
        column-count: 3;
    }
    
    /* end of media query*/