{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing; boarderbox; }


/*body rules here */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* header rules here*/
header{
    background-color:#442614;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color:#e7cc9d; 
}
header h2{
    margin: 0;
    color:#e7cc9d; 
}

/*navigation rules here*/
nav { background-color:#e7cc9d;}
nav ul { margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color:#d6aa5c;}

nav a {
    display: block;
    padding: .8rem 0; /*.44 min height*/
    color: #442614; 
    text-align: center;
    text-decoration: none;
}

nav a:hover {background-color: #975532;}

/*main rules here*/
main{
    padding:1rem 2%;
    display: block; 
}
main h1 {
    color:#442614;
}

main figure img { width: 100%;}

main figure {
    width: 100%;
    margin: 0;
}
main figcaption {
     text-align: center;
     font-size:.8rem;
}

/* footer rules here */
footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #e7cc9d ;
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}







