/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/


/*-----------Form---------------*/

/*----------Home Page----------*/ 

/*--------Contact Us---------*/
.contactmap {
    width: 100%;
    height:300px
   
 }
 

   


/*----------- FOOTER --------------*/
/*---------Gallery Rules-------*/
    
 } /* end of media query */