@media only screen and (min-width: 560px){

/*main rules*/
main{
    grid-template-columns: 1fr 1fr;
}

#lastsection{
    grid-column: span 2;
}

/* header rules*/
header {
    margin: 0px auto;
    font-size: 15px;
    text-align: left;
    border-radius: 1rem;
    padding: 5px;
    padding-right: 30px;
    background-color:black;
    color: lightgray;
}



}/* end of media query*/