{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing; borderbox;}

/*body rules*/

body{ margin: auto;
      max-width: 100%;
}

/* header rules */
header {
    padding: 1em;
    font-size: 15px;
    text-align: center;
    background-color:black;
    color: lightgray;
    }

header h1{
    margin: .5em;
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

header h2{
    margin: 1.1em;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}


/*main rules*/

main{
    display: grid;
    grid-template-columns: 1fr;
    }

main h1{
    font-size: 40px;
    align-items: center;
}

main h3{
    text-align: center;
}

/*section rules*/ 

  main section{
    margin : 0.5em;
    border: 0.1em solid #bbb;
    font-family: Helvetica;
    font-size: 1em;
    border-radius: 1rem;
    background-color: lightgray;
}

main section p{
    margin : 1em;
    text-align: justify;
    font-size: 1em;
      
}

.image {
    margin: 1em;
}

img {
 margin: 0em 1em 0em 1em;
 width: 90%;
}


/*nave rules*/
a:link {
    color:darkslategrey
} 
a:visited {
    color: white;
}
a:hover {
    color: lightseagreen;
}

/*img rules*/

img{
    border-radius: 15px;
}

footer{
    margin: 100px auto;
    text-align: center;
    padding: 15px;
    color: lightgray;
    background-color: black;
}