/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
/*-----------Form---------------*/
form label.sbs{
    padding: .1rem 0;
}



/*----------- FOOTER --------------*/
/*---------Gallery Rules-------*/



#galleryimages{
    grid-template-columns: 1fr 1fr 1fr;
}

.gallerycaption{
    display: block;
}

figure:hover{
    box-shadow: 3px 3px 3px 3px #eeeeee;
}
    
} /* end of media query */