/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.logo{
    
    max-width: 15rem;
}



header h1 {
    font-size: 3em;
   
}

header h2 {
    font-size: 1.8em;
   

}



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/


/*-----------Form---------------*/

/*----------Home Page----------*/ 

/*--------Contact Us---------*/
.contactmap {
    width: 100%;
    height:300px
   
 }
 
   /*-------Seasonal Activities-----------*/ 

   .seasonal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
 
#lastsection{
    grid-column: span 1;
}
  
 


/*----------- FOOTER --------------*/
/*---------Gallery Rules-------*/

#galleryimages{
    grid-template-columns: 1fr 1fr 1fr;
}

.gallerycaption{
    display: block;
}

figure:hover{
    box-shadow: 0 0 10px #eeeeee;
}
    
 } /* end of media query */