/*----------Header--------*/

header {
    padding: 1em;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: purple;
    color: #eee;
    margin-bottom: 2em;

    }


    /*----------Footer------*/
    /*footer Rules*/
footer{
    margin-top: 25em;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: #eee;
    background-color: purple;
}

footer a{
    color: white;
}

